/* --- 共通部分 --- */
/* 上部数値フォーム */
.mantine-Input-wrapper.mantine-12sbrde {
  width: 180px;
  margin: 90px auto 20px;
  font-family: Roboto;
}
#inputHex {
  height: 40px;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 100px;
  background-color: #f2f2f2;
}

/* 変換 */
.mantine-Input-wrapper.mantine-Select-wrapper.mantine-12sbrde {
  margin: 0 auto;
}

.mantine-Input-input.mantine-Select-input.mantine-1ajyf09 {
  padding: 0;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
}

.mantine-Select-dropdown.mantine-nu9wnz {
  width: 152px;
}

.mantine-xlwgkm.mantine-ScrollArea-viewport > div > div {
  padding: 0 !important;
}

.mantine-qxv4uk.mantine-Select-item {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
}

.mantine-qxv4uk[data-selected] {
  background-color: #00a8a6;
}

.palettes {
  width: fit-content;
  margin: 10px auto 20px;
  display: flex;
}

/* カラーピッカー部分 */
.mantine-1ll3m72.mantine-ColorPicker-saturation {
  width: 196px;
  height: 196px;
}

/* カラーピッカーの丸 */
.mantine-ColorPicker-thumb.__mantine-ref-saturationThumb.mantine-ColorPicker-saturationThumb {
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
}

/* 虹色スライダーのラッパー */
.mantine-1510vke.mantine-ColorPicker-body {
  width: 210px;
  padding-top: 20px;
}

/* 虹色スライダー */
.mantine-o1ktji {
  height: 25px;
}

/* 虹色スライダー操るとこ */
.mantine-ColorPicker-thumb.__mantine-ref-sliderThumb.mantine-ColorPicker-sliderThumb {
  top: -2px !important;
  width: 29px;
  height: 29px;
  border: 3px solid white;
  border-radius: 50%;
}

/* カラーピッカー下スライダー */
.sliderWrap {
  position: relative;
  width: 210px;
  display: flex;
}

/* RGBスライダーセクション */
.rgbSectionStyle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 210px;
  margin: 15px auto 0;
}

.sliderLabel {
  position: absolute;
  top: 0;
  left: -35px;
  font-family: Roboto;
}

/* rgbそれぞれの色にする */
.redSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-bar {
  background-color: rgb(255, 0, 0);
}

.greenSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-bar {
  background-color: rgb(0, 255, 0);
}

.blueSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-bar {
  background-color: rgb(0, 0, 255);
}

.redSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-thumb {
  background-color: rgb(255, 0, 0);
  border: 3px solid white;
}

.greenSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-thumb {
  background-color: rgb(0, 255, 0);
  border: 3px solid white;
}

.blueSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-thumb {
  background-color: rgb(0, 0, 255);
  border: 3px solid white;
}

/* スライダーラッパー */
.mantine-Slider-root {
  height: 25px;
}

.mantine-Slider-bar {
  height: 25px;
}

/* 背景部分 */
.mantine-Slider-track {
  width: 210px;
  height: 25px;
}

/* つまみ */
.mantine-Slider-thumb {
  top: 12px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

/* 数値フォーム */
.mantine-Input-wrapper.mantine-NumberInput-wrapper.mantine-12sbrde {
  width: 0;
  margin: 0;
}
.mantine-Input-input.mantine-NumberInput-input.mantine-gqmpge {
  position: absolute;
  top: 0;
  right: -56px;
  width: 45px;
  height: 25px;
  min-height: 25px;
  padding: 3px 9px;
}

/* CMYKスライダー */
.cmykSectionStyle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 210px;
  margin: 15px auto 0;
}

.cyanSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-bar {
  background-color: rgb(0, 250, 240);
}

.cyanSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-thumb {
  background-color: rgb(0, 250, 240);
  border: 3px solid white;
}

.magentaSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-bar {
  background-color: rgb(255, 0, 199);
}

.magentaSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-thumb {
  background-color: rgb(255, 0, 199);
  border: 3px solid white;
}

.yellowSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-bar {
  background-color: rgb(250, 255, 0);
}

.yellowSlider
  > .mantine-Slider-root
  > .mantine-Slider-track
  > .mantine-Slider-thumb {
  background-color: rgb(250, 255, 0);
  border: 3px solid white;
}
